<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset-css.css">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Practica</title>
</head>

<body>
    <div class="contenedor">
        <header>
            <nav>
                <ul class="menu">
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#">PROYECTOS</a></li>
                    <li><a href="#">NOTICIAS</a></li>
                    <li><a href="#">CONTACTO</a></li>
                </ul>
            </nav>
        </header>
        <section class="main">
            <div class="imagen">
                <img src="img/1.jpg" alt="">
            </div>
            <section class="post">
                <article>
                    <h2>Tiluto del articulo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quae consectetur fugiat impedit at
                        odit dolorum ipsum, excepturi commodi recusandae. Reprehenderit voluptatum ullam recusandae
                        impedit
                        tempore dignissimos consequatur consequuntur omnis. Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Inventore necessitatibus labore repudiandae non minus magnam quibusdam
                        perspiciatis obcaecati. Sunt saepe commodi sapiente illo quas perspiciatis? Harum, libero! Quos,
                        non
                        dicta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus laudantium
                        voluptatibus
                        consequuntur reiciendis! Eos, facere blanditiis.</p>
                    <br>
                    <p>Qui ex quaerat accusantium explicabo dolor magni velit iusto at nemo, necessitatibus obcaecati
                        reiciendis? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi, ipsam aspernatur?
                        Commodi labore, minus facere fugit, nesciunt provident placeat omnis eaque repellat itaque
                        corrupti
                        facilis, ipsum consequatur saepe vel eligendi. Lorem ipsum dolor sit amet consectetur
                        adipisicing
                        elit. Quasi enim illum impedit necessitatibus facere quod velit nisi! Deleniti aliquam quisquam
                        impedit est eligendi error tempora reiciendis, amet officia a. Nostrum</p>
                </article>
            </section>
        </section>
        <aside>
            <div class="widget">
                <h3 class="widget-titulo">Articulos Destacados</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
                </ul>
            </div>
            <div class="widget">
                <h3 class="widget-titulo">Articulos Destacados</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis et nemo magni nostrum tenetur
                    explicabo at rerum quibusdam molestias eum. Ipsa est hic quidem sint ab? Saepe ea error veritatis.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat amet doloremque incidunt rem
                    consequuntur nesciunt esse ratione aperiam id accusantium. Adipisci vero eligendi quo totam
                    architecto, optio modi officia aliquam.</p>
            </div>
        </aside>
        <footer>
            <p>Carlos 2021 - Todos los Derechos Reservados</p>
        </footer>
    </div>
</body>

</html>